$folder_images: '../../build/images/';
$folder_svg: '../../build/svg/';
$folder_fonts: '../../build/fonts/';

@import "./sprites/sprite.scss";
@font-face {
    font-family: 'Lato Regular';
    src: url($folder_fonts + 'LatoRegular/Lato Regular.eot');
    src: url($folder_fonts + 'LatoRegular/Lato Regular.eot?#iefix') format('embedded-opentype'),
         url($folder_fonts + 'LatoRegular/Lato Regular.woff') format('woff'),
         url($folder_fonts + 'LatoRegular/Lato Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+020-2044;
}

%icon-name {

    &:before {
        background: url($folder_svg + "user.svg") no-repeat left;
    }
}

%icon-email {

    &:before {
        background: url($folder_svg +  "mail.svg") no-repeat left;
    }
}

%icon-pass {

    &:before {
        background: url($folder_svg +  "pass.svg") no-repeat left;
    }
}

body {
    background-color: #EEF5FF;

    * {
        font-family: "Lato Regular";

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

.main {
    width: 100%;
    display: inline-block;

    a {}


}

.top {
    width: 100%;
    text-align: justify;
    padding: 20px 3em 0 10%;
    display: inline-block;


    @media (max-width: 670px) {
        padding: 0;
    }

    &:after {
        content: '';
        width: 100%;
        display: inline-block;
    }

    &__logo {
        width: 140px;
        height: 40px;
        vertical-align: top;
        display: inline-block;

        background: url($folder_svg + "logotype.svg") no-repeat;
        background-size: contain;
    }

    button {
        width: 108px;
        height: 48px;
        outline: none;
        color: #2A79FF;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        vertical-align: top;
        background: transparent;
        border: solid 1px rgba(42, 121, 255, 0.8);

        &:hover {
            background-color: #2A79FF1F;
        }
    }
}

.registration {
    width: 520px;
    margin: 0 auto;
    padding: 60px 5.3%;
    text-align: center;
    position: relative;

    background: url($folder_images + "shape.png") no-repeat;
    background-size: cover;


    @media (max-width: 550px) {
        width: 100%;
    }

    &:after {
        content: '';
        top: -50px;
        width: 60px;
        right: -60px;
        height: 100px;
        position: absolute;

        background: url($folder_images + "lines.png") no-repeat;


        @media (max-width: 950px) {
            display: none;
        }
    }

    h1 {
        font-size: 32px;
        text-align: left;
        margin-bottom: 0;
    }

    h2 {
        font-size: 16px;
        text-align: left;
        line-height: 1.5em;
        font-weight: normal;
    }

    button {
        border: 0;
        width: 320px;
        height: 60px;
        color: #FFFFFF;
        outline: none;
        cursor: pointer;
        font-size: 20px;
        margin-top: 20px;
        border-radius: 4px;
        background-color: #2A79FF;


        @media (max-width: 400px) {
            width: 100%;
        }

        &:hover {
            background-color: #10449E;
        }
    }
}

.fields {
    padding: 20px 0;

    input {
        width: 100%;
        height: 48px;
        outline: none;
        font-size: 16px;
        text-indent: 39px;
        padding: 14px 5px;

        border: 1px solid #CCCCCC;
        border-bottom: none;

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px white inset;
        }
    }

    label {
        top:0;
        left: 0;
        width: 100%;
        height: 48px;
        display: none;
        background: #fff;
        padding: 14px 5px;
        position: absolute;
        box-shadow: inset 0 0 1px 0 red;
    }

    &__element {
        position: relative;

        &:before {
            content: '';
            left: 3%;
            top: 16px;
            width: 20px;
            height: 20px;
            position: absolute;
        }

        &:first-child {

            input,
            label {
                border-radius: 4px 4px 0 0;
            }
        }

        &:last-child {

            input,
            label {
                border-radius: 0 0 4px 4px;
                border-bottom: 1px solid #CCCCCC;
            }
        }
    }

    &__element_name {
        @extend %icon-name;
    }

    &__element_email {
        @extend %icon-email;
    }

    &__element_pass {
        @extend %icon-pass;
    }
}

.checker {
    width: 100%;
    font-size: 0;
    text-align: left;
    line-height: 1.43;
    display: inline-block;

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked + label {
        &:before {
            content: '✔';
        }
    }

    label {
        cursor: pointer;
        line-height: 1em;
        margin-right: 10px;
        vertical-align: top;
        display: inline-block;

        &:before {
            content: '';
            width: 14px;
            height: 14px;
            font-size: 14px;
            line-height: 1em;
            text-align: center;
            border-radius: 4px;
            display: inline-block;
            border: solid 1px rgba(0, 0, 0, 0.2);
        }
    }

    .error {
        &:before {
            border-color: red;
        }
    }

    span {
        width: 90%;
        color: #999999;
        font-size: 14px;
        vertical-align: top;
        display: inline-block;

        a {
            color: #999999;
            text-decoration: underline;
        }
    }
}

#sign-facebook {
    @include retina-sprite( $f-icon-group );
}

#sign-google {
    @include retina-sprite( $google-g-logo-group );
}

#sign-slack {
    @include retina-sprite( $slack-mark-group );
}

#sign-office {
    @include retina-sprite( $office-365-group );
}

.signup {
    text-align: center;

    h3 {
        color: #999999;
        font-size: 16px;
        font-weight: normal;
    }

    &__social {
        width: 36px;
        height: 36px;
        margin: 0 13px;
        display: inline-block;
        vertical-align: middle;
    }
}
