// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$f-icon-name: 'f-icon';
$f-icon-x: 0px;
$f-icon-y: 0px;
$f-icon-offset-x: 0px;
$f-icon-offset-y: 0px;
$f-icon-width: 36px;
$f-icon-height: 36px;
$f-icon-total-width: 72px;
$f-icon-total-height: 72px;
$f-icon-image: '/project/build/sprites/sprite.png';
$f-icon: (0px, 0px, 0px, 0px, 36px, 36px, 72px, 72px, '/project/build/sprites/sprite.png', 'f-icon', );
$google-g-logo-name: 'google-g-logo';
$google-g-logo-x: 36px;
$google-g-logo-y: 0px;
$google-g-logo-offset-x: -36px;
$google-g-logo-offset-y: 0px;
$google-g-logo-width: 36px;
$google-g-logo-height: 36px;
$google-g-logo-total-width: 72px;
$google-g-logo-total-height: 72px;
$google-g-logo-image: '/project/build/sprites/sprite.png';
$google-g-logo: (36px, 0px, -36px, 0px, 36px, 36px, 72px, 72px, '/project/build/sprites/sprite.png', 'google-g-logo', );
$office-365-name: 'office-365';
$office-365-x: 0px;
$office-365-y: 36px;
$office-365-offset-x: 0px;
$office-365-offset-y: -36px;
$office-365-width: 36px;
$office-365-height: 36px;
$office-365-total-width: 72px;
$office-365-total-height: 72px;
$office-365-image: '/project/build/sprites/sprite.png';
$office-365: (0px, 36px, 0px, -36px, 36px, 36px, 72px, 72px, '/project/build/sprites/sprite.png', 'office-365', );
$slack-mark-name: 'slack-mark';
$slack-mark-x: 36px;
$slack-mark-y: 36px;
$slack-mark-offset-x: -36px;
$slack-mark-offset-y: -36px;
$slack-mark-width: 36px;
$slack-mark-height: 36px;
$slack-mark-total-width: 72px;
$slack-mark-total-height: 72px;
$slack-mark-image: '/project/build/sprites/sprite.png';
$slack-mark: (36px, 36px, -36px, -36px, 36px, 36px, 72px, 72px, '/project/build/sprites/sprite.png', 'slack-mark', );
$f-icon-2x-name: 'f-icon@2x';
$f-icon-2x-x: 0px;
$f-icon-2x-y: 0px;
$f-icon-2x-offset-x: 0px;
$f-icon-2x-offset-y: 0px;
$f-icon-2x-width: 72px;
$f-icon-2x-height: 72px;
$f-icon-2x-total-width: 144px;
$f-icon-2x-total-height: 144px;
$f-icon-2x-image: '/project/build/sprites/sprite@2x.png';
$f-icon-2x: (0px, 0px, 0px, 0px, 72px, 72px, 144px, 144px, '/project/build/sprites/sprite@2x.png', 'f-icon@2x', );
$google-g-logo-2x-name: 'google-g-logo@2x';
$google-g-logo-2x-x: 72px;
$google-g-logo-2x-y: 0px;
$google-g-logo-2x-offset-x: -72px;
$google-g-logo-2x-offset-y: 0px;
$google-g-logo-2x-width: 72px;
$google-g-logo-2x-height: 72px;
$google-g-logo-2x-total-width: 144px;
$google-g-logo-2x-total-height: 144px;
$google-g-logo-2x-image: '/project/build/sprites/sprite@2x.png';
$google-g-logo-2x: (72px, 0px, -72px, 0px, 72px, 72px, 144px, 144px, '/project/build/sprites/sprite@2x.png', 'google-g-logo@2x', );
$office-365-2x-name: 'office-365@2x';
$office-365-2x-x: 0px;
$office-365-2x-y: 72px;
$office-365-2x-offset-x: 0px;
$office-365-2x-offset-y: -72px;
$office-365-2x-width: 72px;
$office-365-2x-height: 72px;
$office-365-2x-total-width: 144px;
$office-365-2x-total-height: 144px;
$office-365-2x-image: '/project/build/sprites/sprite@2x.png';
$office-365-2x: (0px, 72px, 0px, -72px, 72px, 72px, 144px, 144px, '/project/build/sprites/sprite@2x.png', 'office-365@2x', );
$slack-mark-2x-name: 'slack-mark@2x';
$slack-mark-2x-x: 72px;
$slack-mark-2x-y: 72px;
$slack-mark-2x-offset-x: -72px;
$slack-mark-2x-offset-y: -72px;
$slack-mark-2x-width: 72px;
$slack-mark-2x-height: 72px;
$slack-mark-2x-total-width: 144px;
$slack-mark-2x-total-height: 144px;
$slack-mark-2x-image: '/project/build/sprites/sprite@2x.png';
$slack-mark-2x: (72px, 72px, -72px, -72px, 72px, 72px, 144px, 144px, '/project/build/sprites/sprite@2x.png', 'slack-mark@2x', );
$spritesheet-width: 72px;
$spritesheet-height: 72px;
$spritesheet-image: '/project/build/sprites/sprite.png';
$spritesheet-sprites: ($f-icon, $google-g-logo, $office-365, $slack-mark, );
$spritesheet: (72px, 72px, '/project/build/sprites/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 144px;
$retina-spritesheet-height: 144px;
$retina-spritesheet-image: '/project/build/sprites/sprite@2x.png';
$retina-spritesheet-sprites: ($f-icon-2x, $google-g-logo-2x, $office-365-2x, $slack-mark-2x, );
$retina-spritesheet: (144px, 144px, '/project/build/sprites/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$f-icon-group-name: 'f-icon';
$f-icon-group: ('f-icon', $f-icon, $f-icon-2x, );
$google-g-logo-group-name: 'google-g-logo';
$google-g-logo-group: ('google-g-logo', $google-g-logo, $google-g-logo-2x, );
$office-365-group-name: 'office-365';
$office-365-group: ('office-365', $office-365, $office-365-2x, );
$slack-mark-group-name: 'slack-mark';
$slack-mark-group: ('slack-mark', $slack-mark, $slack-mark-2x, );
$retina-groups: ($f-icon-group, $google-g-logo-group, $office-365-group, $slack-mark-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
